# Web Scrapping Part 2 - Selenium

### Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name,experience_required. You have to scrape first 10 jobs data.

In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\user\anaconda3\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\users\user\anaconda3\lib\site-packages (from selenium) (1.25.11)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import time

In [3]:
# Lets Connect to Web driver
driver = webdriver.Chrome(r"D:\Project\Web Driver\chromedriver.exe")

In [4]:
url = 'https://www.naukri.com/'
driver.get(url)

In [5]:
Search_DA = driver.find_element_by_xpath("//input[@id = 'qsb-keyword-sugg']")
Search_DA

In [6]:
Search_DA.send_keys("Data Analyst")

In [7]:
Search_Location = driver.find_element_by_xpath("//input[@id = 'qsb-location-sugg']")
Search_Location

In [8]:
Search_Location.send_keys("Bangalore")

In [9]:
Click_search = driver.find_element_by_xpath("//button[@class='btn']")
Click_search

In [10]:
Click_search.click()

In [20]:
Job_titletags = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
Job_titletags

[<selenium.webdriver.remote.webelement.WebElement (session="2f423604d0027d5c7a7e632ca14bc0f7", element="becb7601-a631-4ac4-be19-db316a3fc91a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2f423604d0027d5c7a7e632ca14bc0f7", element="7dee2d1e-305d-4b22-a3a3-bef70ee9183e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2f423604d0027d5c7a7e632ca14bc0f7", element="1d58adcc-df0c-4b2c-aa44-a4b91bc509e7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2f423604d0027d5c7a7e632ca14bc0f7", element="fda40c5c-a53b-4639-bd9c-7d957a370fa7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2f423604d0027d5c7a7e632ca14bc0f7", element="d1d51fb5-fd99-448f-9d48-3be6cc100d2b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2f423604d0027d5c7a7e632ca14bc0f7", element="77aa5f19-ab5a-464b-aec0-0a8fdfc619c7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2f423604d0027d5c7a7e632ca14bc0f7", element="d8430507-771a-4172-b692-9b634708ad77")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2f423604d0027d5c7a7e632ca14bc0f7", element="a78333dc-d108-498c-8477-ba3639f1e589")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2f423604d0027d5c7a7e632ca14bc0f7", element="9e8770c6-93da-4286-8118-92dfc29e3d25")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2f423604d0027d5c7a7e632ca14bc0f7", element="b3c0c7dc-bc5b-4170-b87c-0e3212c45097")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2f423604d0027d5c7a7e632ca14bc0f7", element="dcc4f71c-2415-4b1d-9738-c8eab5e41d3d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2f423604d0027d5c7a7e632ca14bc0f7", element="048a5806-6af0-4d93-8d25-ed0018bf066c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2f423604d0027d5c7a7e632ca14bc0f7", element="71eb692a-f418-4966-9de0-5de97635f19b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2f423604d0027d5c7a7e632ca14bc0f7", element="6d47cbb2-d8d6-4f88-898a-a7bd8365200d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2f423604d0027d5c7a7e632ca14bc0f7", element="66dfb311-81dc-41a8-afd9-4af668353a13")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2f423604d0027d5c7a7e632ca14bc0f7", element="22412467-fc6c-4926-a140-039c1ee674e6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2f423604d0027d5c7a7e632ca14bc0f7", element="019e2f71-b9e2-46ac-8ee7-01f08471ccfc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2f423604d0027d5c7a7e632ca14bc0f7", element="085b6f63-597a-444e-977b-f299d3ff6bd6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2f423604d0027d5c7a7e632ca14bc0f7", element="a1a58d8e-180b-4106-b59a-6599cfc2eb5e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2f423604d0027d5c7a7e632ca14bc0f7", element="3275c889-5fa4-4641-81c5-d582b89b90e2")>]

In [21]:
# Extracting job title from Job title TAgs

Job_Title = []

for i in Job_titletags:
    Job_Title.append(i.text)

Job_title_List = Job_Title[:10]
Job_title_List

['Data Scientist / Data Analyst -Business Analyst',
 'Network Design & Data Analyst',
 'Consultant - Data Analyst',
 'Software Developer / Web Developer/data analyst',
 'Data Analyst',
 'Data Analyst',
 'FTE - Regional BI - Functional Data Analyst',
 'Deputy Manager - Data Analyst',
 'Data Analyst CX',
 'Data Analyst']

In [22]:
# Job location tags
Job_Locationtags = driver.find_elements_by_xpath("//span[@class='ellipsis fleft fs12 lh16']")
Job_Locationtags

[<selenium.webdriver.remote.webelement.WebElement (session="2f423604d0027d5c7a7e632ca14bc0f7", element="dc324492-4a34-4904-9a75-2bac3d1f040e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2f423604d0027d5c7a7e632ca14bc0f7", element="5efb6f46-2fc0-4461-977b-685d64510e78")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2f423604d0027d5c7a7e632ca14bc0f7", element="9151a635-2df7-40b2-820c-8a69e8db4dfb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2f423604d0027d5c7a7e632ca14bc0f7", element="001fb371-92b6-4976-ad9a-f726f3a56c27")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2f423604d0027d5c7a7e632ca14bc0f7", element="818674ce-8919-4bbb-8ddf-a8bc62864ecf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2f423604d0027d5c7a7e632ca14bc0f7", element="5b38bdad-70b6-40f8-bd68-b89e4cee03e6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2f423604d0027d5c7a7e632ca14bc0f7", element="d046dd71-b31a-453f-9064-1bd2c7cf049f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2f423604d0027d5c7a7e632ca14bc0f7", element="a674f712-7335-4291-bbf9-425fb6bd079c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2f423604d0027d5c7a7e632ca14bc0f7", element="f713a908-6b62-42a2-8bb1-927d292f3d7c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2f423604d0027d5c7a7e632ca14bc0f7", element="b4be4b27-c712-4e2c-a1ae-7ab44a9805f3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2f423604d0027d5c7a7e632ca14bc0f7", element="87308db2-a81d-44b7-bdf9-bc6dd754021f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2f423604d0027d5c7a7e632ca14bc0f7", element="ec86206d-f0c8-4fd1-b620-b568e4eb72f5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2f423604d0027d5c7a7e632ca14bc0f7", element="a85eceb4-76fe-449d-ae25-b772c6e2601c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2f423604d0027d5c7a7e632ca14bc0f7", element="b8608786-fc6b-4569-b3b3-5b4a32e32386")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2f423604d0027d5c7a7e632ca14bc0f7", element="82512eaf-290e-4b22-99ce-67dc7eedae14")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2f423604d0027d5c7a7e632ca14bc0f7", element="5d3b70c1-591f-458d-9cb2-7376bb847d52")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2f423604d0027d5c7a7e632ca14bc0f7", element="95206a5d-1680-45a7-953f-d8b213d13eb2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2f423604d0027d5c7a7e632ca14bc0f7", element="c78c557f-0496-4468-89e5-b73475de34ac")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2f423604d0027d5c7a7e632ca14bc0f7", element="784c9cab-0ca1-43d2-a15e-373de14b0e65")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2f423604d0027d5c7a7e632ca14bc0f7", element="d12e9500-ad55-4465-b874-22b56df81d6f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2f423604d0027d5c7a7e632ca14bc0f7", element="0accb254-0de2-4dcd-bca4-f15fd9c85230")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2f423604d0027d5c7a7e632ca14bc0f7", element="e24133e8-58b3-4fc6-9d21-41b5c6974f12")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2f423604d0027d5c7a7e632ca14bc0f7", element="3d0432c1-d859-4f53-97c7-fe97321be3ca")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2f423604d0027d5c7a7e632ca14bc0f7", element="b6100e0a-f4c1-4b67-bee2-7cf607920a93")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2f423604d0027d5c7a7e632ca14bc0f7", element="72646b4a-5498-46ca-9392-e5f3093d04e4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2f423604d0027d5c7a7e632ca14bc0f7", element="13e2a1f3-8324-460b-84cd-a918697bd9fb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2f423604d0027d5c7a7e632ca14bc0f7", element="d65993f1-7961-4707-b1ce-c22caf63fd3c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2f423604d0027d5c7a7e632ca14bc0f7", element="3f5a13f1-14ca-46b5-a3d8-853ee3f6bc11")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2f423604d0027d5c7a7e632ca14bc0f7", element="0009fde7-64ff-4738-90b5-326221888fab")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2f423604d0027d5c7a7e632ca14bc0f7", element="5994fb8a-7900-46fd-9703-61a3b5b311e7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2f423604d0027d5c7a7e632ca14bc0f7", element="b1a6f261-3a59-417d-bd04-18f49193e532")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2f423604d0027d5c7a7e632ca14bc0f7", element="d33ae669-a550-4ec1-b252-83a64509a2fe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2f423604d0027d5c7a7e632ca14bc0f7", element="845e855c-9af4-45fa-bd81-9a1c43aca4e0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2f423604d0027d5c7a7e632ca14bc0f7", element="5f94e9ab-b0d5-4e46-ae18-39016ae6ea8a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2f423604d0027d5c7a7e632ca14bc0f7", element="4c3f2911-a0d7-46b0-918b-5946afe04497")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2f423604d0027d5c7a7e632ca14bc0f7", element="2d9f4886-a63e-45e9-8659-834b7d39cbba")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2f423604d0027d5c7a7e632ca14bc0f7", element="d2635049-c362-4d15-bdd7-476412e1272f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2f423604d0027d5c7a7e632ca14bc0f7", element="bd21b7c8-d594-4eee-9d4c-c843135512ee")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2f423604d0027d5c7a7e632ca14bc0f7", element="fc5e8e09-07a0-4f77-ac7d-c019a8def8a5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2f423604d0027d5c7a7e632ca14bc0f7", element="58d61f6c-b918-49b8-8e92-8c67d2491f81")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2f423604d0027d5c7a7e632ca14bc0f7", element="2e8bf807-d885-4d07-bfbf-26d25a182115")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2f423604d0027d5c7a7e632ca14bc0f7", element="46bbfc5c-500d-4ea4-87af-3ca22569f107")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2f423604d0027d5c7a7e632ca14bc0f7", element="1abdb5fe-7f23-4cd1-baf8-7a0702108e91")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2f423604d0027d5c7a7e632ca14bc0f7", element="85d4c529-36b6-4c67-8a8d-6b01d195b1ce")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2f423604d0027d5c7a7e632ca14bc0f7", element="2cf19fca-249c-4a4f-a613-93116d1a8bcc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2f423604d0027d5c7a7e632ca14bc0f7", element="5d356224-ac02-4cda-b426-0eb1828d2f33")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2f423604d0027d5c7a7e632ca14bc0f7", element="62fd528a-c5db-4f54-8365-a72f91a9cbe9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2f423604d0027d5c7a7e632ca14bc0f7", element="8edffed3-0234-43be-937e-56204ab8e264")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2f423604d0027d5c7a7e632ca14bc0f7", element="2824629b-d910-401d-b11f-8d172bd33772")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2f423604d0027d5c7a7e632ca14bc0f7", element="97fff302-ebc4-4fda-95e9-fa30987e6029")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2f423604d0027d5c7a7e632ca14bc0f7", element="0d605a1e-7aa4-46f0-b426-5434b2ac3180")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2f423604d0027d5c7a7e632ca14bc0f7", element="cac70d02-262c-41d1-985a-10c34ed84170")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2f423604d0027d5c7a7e632ca14bc0f7", element="a61304b6-2e37-4ae4-8362-4fa181d01df4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2f423604d0027d5c7a7e632ca14bc0f7", element="277bf83a-4083-41cc-a6d9-c1779d6e9a88")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2f423604d0027d5c7a7e632ca14bc0f7", element="2687735c-04d7-4d9e-91b8-9c966ad6d97e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2f423604d0027d5c7a7e632ca14bc0f7", element="014980bc-d5fa-4215-9a89-00778f43957f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2f423604d0027d5c7a7e632ca14bc0f7", element="10a11e90-f9f0-4043-b868-bc49fd6f458c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2f423604d0027d5c7a7e632ca14bc0f7", element="fe45ce6c-53b7-4cb1-b958-224ce7034527")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2f423604d0027d5c7a7e632ca14bc0f7", element="73d3b062-dbe9-4816-974b-c7275b69acf2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="2f423604d0027d5c7a7e632ca14bc0f7", element="c771f520-ecd5-48b2-95b7-68397477a24e")>]

In [23]:
# Extracting job location from Job location TAgs

Job_location = []
Job_location_List = []
for jl in Job_Locationtags:
    Job_location.append(jl.text)

Job_location

['0-3 Yrs',
 '3,50,000 - 4,50,000 PA.',
 'Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru',
 '0-2 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru',
 '0-2 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru',
 '0-1 Yrs',
 '50,000 - 70,000 PA.',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru',
 '0-5 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru',
 '0-2 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru',
 '5-8 Yrs',
 'Not disclosed',
 'Davangere, Bangalore/Bengaluru',
 '3-6 Yrs',
 'Not disclosed',
 'Davangere, Bangalore/Bengaluru',
 '6-10 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru',
 '8-13 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru',
 '4-7 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru',
 '3-5 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru',
 '5-6 Yrs',
 'Not disclosed',
 'Bengaluru/Bangalore',
 '0-4 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru',
 '5-8 Yrs',
 '10,00,000 - 20,00,000 PA.',
 'Bangalore/Bengaluru(2nd Phase JP Nagar)',
 '1-4 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru',
 '3-7 Yrs',
 '5,00,000 - 15,00,000 PA.',
 'Bangalore/Bengaluru',
 '2-3 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru',
 '7-10 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru',
 '4-5 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru']

In [25]:
#Location extract
Job_location_List = []
for l in range(2,len(Job_location),3):
    Job_location_List.append(Job_location[l])

Final_JBList = Job_location_List[:10]
Final_JBList

['Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Davangere, Bangalore/Bengaluru',
 'Davangere, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [26]:
# Company name Extraction
Company_name = driver.find_elements_by_xpath('//a[@class = "subTitle ellipsis fleft"]')
Company_name
Company_name_list = []
for cn in Company_name:
    Company_name_list.append(cn.text)
    
Final_Company_name_list= Company_name_list[:10]
Final_Company_name_list

['Inflexion Analytix Private Limited',
 'Dell International Services India Private Limited',
 'Flipkart Internet Private Limited',
 'Edubridgeindia',
 'Siemens Limited',
 'Bright Money',
 'Schneider Electric India Pvt. Ltd.',
 'Schneider Electric India Pvt. Ltd.',
 'Philips India Limited',
 'Allegis Services India Pvt. Ltd.']

In [27]:
#Experience Rquired extract
Experience_List = []
for l in range(0,len(Job_location),3):
    Experience_List.append(Job_location[l])

Final_Experience_List = Experience_List[:10]
Final_Experience_List

['0-3 Yrs',
 '0-2 Yrs',
 '0-2 Yrs',
 '0-1 Yrs',
 '0-5 Yrs',
 '0-2 Yrs',
 '5-8 Yrs',
 '3-6 Yrs',
 '6-10 Yrs',
 '8-13 Yrs']

In [28]:
# DateFrame Creation for “Data Analyst” Job position in “Bangalore” location.

Data_Bang_Frame = pd.DataFrame({"Job Title ": Job_title_List ,"Job Location":Final_JBList ,"Company Name":Final_Company_name_list,"Experience Required":Final_Experience_List},index = range(1,len(Job_title_List)+1))
Data_Bang_Frame

,Job Title,Job Location,Company Name,Experience Required
1,Data Scientist / Data Analyst -Business Analyst,"Hyderabad/Secunderabad, Chennai, Bangalore/Ben...",Inflexion Analytix Private Limited,0-3 Yrs
2,Network Design & Data Analyst,Bangalore/Bengaluru,Dell International Services India Private Limited,0-2 Yrs
3,Consultant - Data Analyst,Bangalore/Bengaluru,Flipkart Internet Private Limited,0-2 Yrs
4,Software Developer / Web Developer/data analyst,"Hyderabad/Secunderabad, Bangalore/Bengaluru",Edubridgeindia,0-1 Yrs
5,Data Analyst,Bangalore/Bengaluru,Siemens Limited,0-5 Yrs
6,Data Analyst,Bangalore/Bengaluru,Bright Money,0-2 Yrs
7,FTE - Regional BI - Functional Data Analyst,"Davangere, Bangalore/Bengaluru",Schneider Electric India Pvt. Ltd.,5-8 Yrs
8,Deputy Manager - Data Analyst,"Davangere, Bangalore/Bengaluru",Schneider Electric India Pvt. Ltd.,3-6 Yrs
9,Data Analyst CX,Bangalore/Bengaluru,Philips India Limited,6-10 Yrs
10,Data Analyst,Bangalore/Bengaluru,Allegis Services India Pvt. Ltd.,8-13 Yrs

### 2. Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location,company_name, full job-description. You have to scrape first 10 jobs data.

In [29]:
# Lets Connect to Web driver
driver = webdriver.Chrome(r"D:\Project\Web Driver\chromedriver.exe")
url = 'https://www.naukri.com/'
driver.get(url)
Search_DS = driver.find_element_by_xpath("//input[@id = 'qsb-keyword-sugg']")
Search_DS

In [30]:
Search_DS.send_keys("Data Scientist")

In [31]:
Search_DSLocation = driver.find_element_by_xpath("//input[@id = 'qsb-location-sugg']")
Search_DSLocation

In [32]:
Search_DSLocation.send_keys("Bangalore")

In [33]:
Click_search = driver.find_element_by_xpath("//button[@class='btn']")
Click_search.click()

In [35]:
Job_desc_urls = []
urls = driver.find_elements_by_xpath('//a[@class ="title fw500 ellipsis"]')
for ur in urls:
    Job_desc_urls.append(ur.get_attribute('href'))
Final_Job_desc_urls = Job_desc_urls[:10]
Final_Job_desc_urls

['https://www.naukri.com/job-listings-data-scientist-data-analyst-business-analyst-inflexion-analytix-private-limited-hyderabad-secunderabad-chennai-bangalore-bengaluru-0-to-3-years-020721003625?src=jobsearchDesk&sid=16256544474499416&xp=1&px=1',
 'https://www.naukri.com/job-listings-sr-data-scientist-baker-hughes-incorporated-bangalore-bengaluru-3-to-7-years-060721500843?src=jobsearchDesk&sid=16256544474499416&xp=2&px=1',
 'https://www.naukri.com/job-listings-sr-data-scientist-baker-hughes-the-network-bangalore-bengaluru-4-to-8-years-060721500839?src=jobsearchDesk&sid=16256544474499416&xp=3&px=1',
 'https://www.naukri.com/job-listings-lead-data-scientist-alten-calsoft-labs-india-private-limited-bangalore-bengaluru-10-to-13-years-040621007518?src=jobsearchDesk&sid=16256544474499416&xp=4&px=1',
 'https://www.naukri.com/job-listings-senior-lead-data-scientist-machine-learning-deep-learning-squareroot-consulting-pvt-ltd-bangalore-bengaluru-1-to-6-years-010320600083?src=jobsearchDesk&sid=16256544474499416&xp=5&px=1',
 'https://www.naukri.com/job-listings-lead-data-scientist-machine-learning-data-mining-wrackle-technologies-pvt-ltd-bangalore-bengaluru-6-to-11-years-080221900886?src=jobsearchDesk&sid=16256544474499416&xp=6&px=1',
 'https://www.naukri.com/job-listings-sr-data-scientist-multi-recruit-bangalore-bengaluru-5-to-7-years-060721004826?src=jobsearchDesk&sid=16256544474499416&xp=7&px=1',
 'https://www.naukri.com/job-listings-data-scientist-fabhotel-aay-kay-model-town-bangalore-bengaluru-1-to-4-years-060721500918?src=jobsearchDesk&sid=16256544474499416&xp=8&px=1',
 'https://www.naukri.com/job-listings-data-scientist-baker-hughes-the-network-bangalore-bengaluru-3-to-7-years-050721501490?src=jobsearchDesk&sid=16256544474499416&xp=9&px=1',
 'https://www.naukri.com/job-listings-data-scientist-baker-hughes-incorporated-bangalore-bengaluru-2-to-6-years-050721500685?src=jobsearchDesk&sid=16256544474499416&xp=10&px=1']

In [36]:
# Job Title Extract 
DS_Job_titletags = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

# Extracting job title from Job title TAgs

DS_Job_Title = []

for i in DS_Job_titletags:
    DS_Job_Title.append(i.text)

DS_Job_title_List = DS_Job_Title[:10]
DS_Job_title_List

['Data Scientist / Data Analyst -Business Analyst',
 'Sr Data Scientist',
 'Sr Data Scientist',
 'Lead Data Scientist',
 'Senior/Lead Data Scientist - Machine Learning/Deep Learning',
 'Lead Data Scientist - Machine Learning/ Data Mining',
 'Sr. Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist']

In [37]:
# Job location tags
DS_Job_Locationtags = driver.find_elements_by_xpath("//span[@class='ellipsis fleft fs12 lh16']")

# Extracting job location from Job location TAgs

DS_Job_location = []
DS_Job_location_List = []
for jlds in DS_Job_Locationtags:
    DS_Job_location.append(jlds.text)

DS_Job_location
#Location extract
DS_Job_location_List = []
for lds in range(2,len(DS_Job_location),3):
    DS_Job_location_List.append(DS_Job_location[lds])

DS_Final_JBList = DS_Job_location_List[:10]
DS_Final_JBList

['Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru(Dairy Circle)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [38]:
# Company name Extraction
DS_Company_name = driver.find_elements_by_xpath('//a[@class = "subTitle ellipsis fleft"]')
DS_Company_name_list = []
for dscn in DS_Company_name:
    DS_Company_name_list.append(dscn.text)
    
DS_Final_Company_name_list= DS_Company_name_list[:10]
DS_Final_Company_name_list

['Inflexion Analytix Private Limited',
 'Baker Hughes Incorporated',
 'Baker Hughes - The Network',
 'ALTEN CALSOFT LABS (INDIA) PRIVATE LIMITED',
 'Squareroot Consulting Pvt Ltd.',
 'Wrackle Technologies Pvt Ltd',
 'Multi Recruit',
 'FabHotel Aay Kay Model Town',
 'Baker Hughes - The Network',
 'Baker Hughes Incorporated']

In [41]:
# Job Description Extract
Job_Desc_List = []
for jd in Final_Job_desc_urls:
    driver.get(jd)
    try:
        job_desc = driver.find_element_by_xpath('//section[@class ="job-desc"]')
        Job_Desc_List.append(job_desc.text.replace("\n"," ").replace("  "," "))
    except:
        pass
Job_Desc_List

["Job description Job description Job Role: Data Scientist/Data Analyst /Business Analyst Location: Chennai/Bangalore/Hyderabad Greetings from CAIA - Center for Artificial Intelligence & Advanced Analytics 43% of companies experienced a high deficit of skilled resources with Advanced Analytical skills and AI implementing capabilities in the year 2020. CAIA gives you a great opportunity to enter the world of future technologies and Innovations- Data Science, Analytics, AI, Data Visualization, and Cloud Computing. While 2020 was a year like no other, we are living in an interesting times where data is reshaping the world, and businesses are rapidly adopting technology to gain an edge over others. Hence, there's a substantial increase in demand for technology professionals who can implement systems in data science, machine learning, and AI in Tier 1 and Tier 2 organizations working closely with us. To help you build a sustainable career we would like you to utilize data, software and Analytical approaches in Data Science and AI to upskill and get recruited into an organization appreciating your skilling journey. Applications invited from all Freshers and experienced candidates (0-3 yrs) aspiring to make a career in Artificial Intelligence and Advanced Analytics and Data Science. If you wish to make a shift in your career or undergo a career transition, upskilling is essential since it allows you to learn more about the domain and acquire the required skills. Call to schedule interview Monday -Saturday from 10:00 am to 7 Pm Koodesh B- +91 73395 11107 Manigandan B - +91 93444 57360 Email : careerguidance.koodes@centerforaia.com manigandan@centerforaia.com What is needed from you? Freshers who wish to start their career in Analytics and AI and professionals who wish to upskill or change their domain to analytics and emerging technologies are free to apply. Educational background in any one of the following- BE/B.Tech, ME/M Tech, MSc, BSc/MSc Math's and Statistics, B Com, BCA, BSc CS, BSC IT, MSC IT, MCA Skills relating to Mathematics/Statistics. Natural passion towards numbers, business, coding, Analytics, and Artificial Intelligence, Machine Learning, visualization Good verbal and written communication skills Ability to understand domains in businesses across various sectors Selection procedure includes Aptitude Test & Communication Exam - Online / Offline SQL/Python test - Online / Offline Candidates who clear the above will have one-one discussions with our Career Guidance Manager for further evaluation and processing of your Resume. All the Shortlisted candidates will be eligible to continue the corporate training with CAIA What you can expect from us? You will get trained on the following modules for a period of 12-14 weeks: SQL & PLSQL Data Wrangling using Python Data Visualization Using Power-BI Statistics for Machine Learning Artificial Intelligence, Data Interpretation Supervised & Unsupervised Learning, NLP & Deep Learning Cloud Data Lake Business intelligence & Data Visualization Simulation Projects Expected Outcome? At the end of the Training you are expected to be well versed with the following: Analysis of large and complex data sets from multiple sources Development and evaluation of data analytics models, algorithms, and solutions Understanding/implementation of ML algorithms, performance tuning, and reporting Implementation of algorithms to mine targeted data and the ability to convert data into a business story Translation of business requirements into technical requirements; Data extraction, preparation, and transformation Identification, development, and implementation of statistical techniques and algorithms that address business challenges and adds value to the organization Requirement Analysis and communication of findings in the form of a meaningful story with the stakeholders Finding analytical solutions to abstract business issues. Apply objective analysis of facts before coming to a conclusion RoleData Analyst Industry TypeIT Services & Consulting Functional AreaAnalytics & Business Intelligence Employment TypeFull Time, Permanent Role CategoryAnalytics & BI Education UG :B.Sc/B.Sc(Hons) in Any Specialization, B.Com/B.Com(Hons) in Any Specialization, Any Graduate, B.Tech/BE in Any Specialization, BBA/BMS/BBM/BBS in Any Specialization, BCA in Any Specialization Key Skills Business IntelligencePower BiData WranglingArtificial IntelligenceBig DataITMachine LearningStatisticsAnalyticsDeep LearningBusiness AnalysisSQLData ScienceNLPCloud ComputingData AnalysisData VisualizationData WarehousingData AnalyticsETLPython",
 'Job description As as Senior Data Scientist, you will work in teams addressing statistical, machine learning and data understanding problems in a commercial technology and consultancy development environment. In this role, you will contribute to the development and deployment of modern machine learning, operational research, semantic analysis, and statistical methods for finding structure in large data sets. As a Sr Data Scientist, you will be responsible for: Designing and develop machine learning algorithms, software utilities, tools, data sets, and experiments to build AI models. Building solutions and delivering code from proof of concept to production-level maturity following agile development principles. Breaking down and understanding complex business problems, defining a solution, and implementing it using advanced quantitative methods. Keeping up to date with state-of-the-art machine learning literature and industry best practices for large-scale robust algorithm development. Documenting developments and results as needed for documentation, publications, patent submissions, and internal or external presentations. Collaborating with cross-functional teams across multiple offices and regions. Also, Work alongside software developers and software engineers to translate algorithms into commercially viable products and services. Unit-Testing for production quality code development and supporting end-to-end testing of delivered software components. Working in technical teams in development, deployment, and application of applied analytics, predictive analytics, and prescriptive analytics. Fuel your passion, To be successful in this role you will: Have bachelors in Computer Science or STEM Majors (Science, Technology, Engineering and Math). A minimum 4 yrs of professional experience. Have knowledge of advanced statistical techniques and concepts (regression, properties of distributions, statistical tests, and proper usage, etc.) and experience with applications. Experience in Machine Learning/AI techniques including Deep learning (RNN, CNN, GAN, etc.), Support Vector Machines; Regularization Techniques; Boosting, Random Forests, Ensemble Methods, image/video/audio processing, Bayesian statistics, and time series modelling. Have extensive applied experience with Reinforcement Learning is desired. Have experience in developing and deploying machine learning solutions in cloud environments like AWS, Azure, and GCP. Have developed containerized solutions (Docker, Mesos, etc.). Have solid programming skills for data sciences and numerical computing: Python, R, and SQL and ability to work with a variety of deep learning frameworks including TensorFlow, Keras, Caffe, etc. Have hands-on skills in sourcing, manipulating, and analysing large volumes of data including SQL and NoSQL databases. RoleSoftware Developer Industry TypePower Functional AreaIT Software - System Programming Employment TypeFull Time, Permanent Role CategoryProgramming & Design Education UG :B.Sc/B.Sc(Hons) in Chemistry PG :Any Postgraduate Key Skills Computer sciencedeep learningNoSQLGCPMachine learningAlgorithm developmentUnit testingSQLPython',
 'Job description As as Senior Data Scientist, you will work in teams addressing statistical, machine learning and data understanding problems in a commercial technology and consultancy development environment. In this role, you will contribute to the development and deployment of modern machine learning, operational research, semantic analysis, and statistical methods for finding structure in large data sets. As a Sr Data Scientist, you will be responsible for: Designing and develop machine learning algorithms, software utilities, tools, data sets, and experiments to build AI models. Building solutions and delivering code from proof of concept to production-level maturity following agile development principles. Breaking down and understanding complex business problems, defining a solution, and implementing it using advanced quantitative methods. Keeping up to date with state-of-the-art machine learning literature and industry best practices for large-scale robust algorithm development. Documenting developments and results as needed for documentation, publications, patent submissions, and internal or external presentations. Collaborating with cross-functional teams across multiple offices and regions. Also, Work alongside software developers and software engineers to translate algorithms into commercially viable products and services. Unit-Testing for production quality code development and supporting end-to-end testing of delivered software components. Working in technical teams in development, deployment, and application of applied analytics, predictive analytics, and prescriptive analytics. Fuel your passion, To be successful in this role you will: Have bachelors in Computer Science or STEM Majors (Science, Technology, Engineering and Math). A minimum 4 yrs of professional experience. Have knowledge of advanced statistical techniques and concepts (regression, properties of distributions, statistical tests, and proper usage, etc.) and experience with applications. Experience in Machine Learning/AI techniques including Deep learning (RNN, CNN, GAN, etc.), Support Vector Machines; Regularization Techniques; Boosting, Random Forests, Ensemble Methods, image/video/audio processing, Bayesian statistics, and time series modelling. Have extensive applied experience with Reinforcement Learning is desired. Have experience in developing and deploying machine learning solutions in cloud environments like AWS, Azure, and GCP. Have developed containerized solutions (Docker, Mesos, etc.). Have solid programming skills for data sciences and numerical computing: Python, R, and SQL and ability to work with a variety of deep learning frameworks including TensorFlow, Keras, Caffe, etc. Have hands-on skills in sourcing, manipulating, and analysing large volumes of data including SQL and NoSQL databases. RoleSoftware Developer Industry TypePower Functional AreaIT Software - System Programming Employment TypeFull Time, Permanent Role CategoryProgramming & Design Education UG :B.Sc/B.Sc(Hons) in Chemistry PG :Any Postgraduate Key Skills Computer sciencedeep learningNoSQLGCPMachine learningAlgorithm developmentUnit testingSQLPython',
 "Job description ROLES AND RESPONSIBILITIES: Participate in customer workshops to understand customer problems and design solutions with Advanced Analytics Define Advanced Analytics Use Cases and Implementation Roadmap Build Prototypes, POCs and Production ready Data Science applications Support and enhance Data Science Models/Applications Manage customer relationship and drive account growth initiatives Collaborate with Partners for understanding the trends and new solutions and presenting the same to the customers and sales SKILLS AND QUALIFICATIONS: Overall, 10 to 12 yrs. of exp in solving customer problems with Data and 7-8 years of experience as Data Scientist for Life Sciences, Health Care and FMCG Deep understanding and minimum 5 years of hands-on experience in developing models using Machine Learning and Deep Learning related technologies (such as Keras, TensorFlow, pyTorch, Azure ML, AWS ML, Jupiter, MATLAB, etc.) Strong programming skills in one or more scripting languages like R, Python) Experience with Data Visualization tools like Tableau, Microsoft Power BI and SiSense Exposure to working on AI/Data Science/Analytics platforms like SAS, Microsoft AI, Amazon AI, IBM WATSON, H20, Strong business acumen to understand business objectives & dynamics and possess excellent written and verbal communication skills for coordinating across teams Experience with common data science toolkits, such as Python, R, Weka, NumPy, MATLAB, etc Proficient in algorithms on regression modelling (linear/logistic), supervised and unsupervised classification, tree-based techniques (Decision trees /Random forest), neural nets, bagging, Pattern Mining and boosting techniques, etc. Strong hold of concepts in Statistics and expertise in Machine Logs Processing, text mining and text analytics Master's degree in Statistics, Applied Math, Operations Research, Economics, or a related quantitative field with working experience as a Data Scientist RoleTechnical Architect Industry TypeIT Services & Consulting Functional AreaIT Software - Application Programming, Maintenance Employment TypeFull Time, Permanent Role CategoryProgramming & Design Education UG :Any Graduate Key Skills Data ScienceArtificial IntelligenceText AnalyticsTableauMachine LearningDeep LearningPython",
 'Job description Roles and Responsibilities Hiring for US based Start-up AI Fintech which is building Digital Banking platform for North American region. Experience for the Role : Data Scientist (1+ Yrs) & Senior/ Lead Data Scientist (3+ Yrs) Location : Bangalore (HSR Layout) Looking expert machine learning and a statistical mastermind and who are keen to make a difference in a unique way. We expect a Data Scientist & ML Engineer to take the onus of creating and leveraging the state-of-the-art algorithms in machine learning, deep learning and AI which will impact billions of people. Main Responsibilities : As an ML Engineer / Data Scientist, you will work on cutting edge problems in Natural Language Processing using Deep Learning. - Perform exploratory data analysis to understand the problem - Implement and experiment with different features and architectures for Deep-Learning models for NLP - Do literature review and come up with possible solutions - Do visualisation for understanding the problem and showcasing models - Make the model faster for real-time predictions - Build tools to help the team build models and deploy them What We are looking: - B.Tech, M.Tech or Ph.D in Computer Science or equivalent work experience - Knowledgeable on common data structures and algorithms - Knowledgeable in one or more of the following : Machine Learning / Information Retrieval / Deep Learning / NLP - 1 to 5 year experience working with real world datasets - Strong interest in solving real world problems in Machine Learning - Programming experience (in any programming language) is a must - Good familiarity with Python and its scientific computing / ML ecosystem is preferable. RoleSoftware Developer Industry TypeInternet Functional AreaIT Software - eCommerce, Internet Technologies Employment TypeFull Time, Permanent Role CategoryProgramming & Design Education UG :Any Graduate PG :Any Postgraduate Doctorate :Any Doctorate Key Skills VisualizationExploratory TestingMachine LearningPHDDeep Learning.Data StructureNLPAlgorithmsIITData ScientistData AnalyticsStartup',
 'Job description Roles and Responsibilities Requirements : - 6-9 years of strong experience in data mining, machine learning and statistical analysis. - BS/ MS/ PhD in Computer Science, Statistics, Applied Math, or related areas from Premier institutes ( only IITs / IISc / BITS / Top NITs or top US university should apply) - Ability to lead and deliver in a fast-paced start-up environment. - Fluency in tools such as Python/ R/ Matlab etc. - Strong intuition for data and Keen aptitude on large scale data analysis - Excellent written and verbal communication skills. - Ability to collaborate across teams and strong interpersonal skills. RoleData Analyst Industry TypeIT Services & Consulting Functional AreaAnalytics & Business Intelligence Employment TypeFull Time, Permanent Role CategoryAnalytics & BI Education UG :B.Sc/B.Sc(Hons) in Computers, Statistics PG :M.Sc/MS in Computers, Statistics Doctorate :Ph.D/Doctorate in Statistics, Computers, Other Doctorate Key Skills Data ScienceRData ScientistData MiningStatistical AnalystMachine LearningMATLABPython',
 "Job description Actively engage with internal business teams to understand their challenges and deliver robust, data-driven solutions. Work alongside global counterparts to solve data-intensive problems using standard analytical frameworks and tools. Be encouraged and expected to innovate and be creative in your data analysis, problem-solving, and presentation of solutions. Network and collaborate with a broad range of internal business units to define and deliver joint solutions. Work alongside customers to leverage cutting-edge technology (machine learning, streaming analytics, and real big data) to creatively solve problems and disrupt existing business models. In this role, we are looking for: A problem-solving mindset with the ability to understand business challenges and how to apply your analytics expertise to solve them. The unique person who can present complex mathematical solutions in a simple manner that most will understand, including customers. An individual excited by innovation and new technology and eager to finds ways to employ these innovations in practice. A team mentality, empowered by the ability to work with a diverse set of individuals. Basic Qualifications A Bachelors's degree in Data Science, Math, Statistics, Computer Science, or related field with an emphasis on analytics. 5+ Years professional experience in a data scientist/analyst role or similar. Proficiency in your statistics/analytics/visualization tool of choice, but preferably in the Microsoft Azure Suite, including Azure ML Studio and PowerBI as well as R, Python, SQL. Preferred Qualifications Excellent communication, organizational transformation, and leadership skills Demonstrated excellence in Data Science, Business Analytics, and Engineering RoleData Analyst Industry TypeChemicals Functional AreaAnalytics & Business Intelligence Employment TypeFull Time, Permanent Role CategoryAnalytics & BI Education UG :B.Tech/BE in Any Specialization Key Skills Data scientistPower BiMachine LearningPythonSQL",

In [45]:
# DataFrame for Datascientist :

DS_Data_Bang_Frame = pd.DataFrame({"Job Title ": DS_Job_title_List ,"Job Location": DS_Final_JBList ,"Company Name":DS_Final_Company_name_list,"Job Description": Job_Desc_List},index = range(1,len(DS_Final_JBList)+1))
DS_Data_Bang_Frame

,Job Title,Job Location,Company Name,Job Description
1,Data Scientist / Data Analyst -Business Analyst,"Hyderabad/Secunderabad, Chennai, Bangalore/Ben...",Inflexion Analytix Private Limited,Job description Job description Job Role: Data...
2,Sr Data Scientist,Bangalore/Bengaluru,Baker Hughes Incorporated,"Job description As as Senior Data Scientist, y..."
3,Sr Data Scientist,Bangalore/Bengaluru,Baker Hughes - The Network,"Job description As as Senior Data Scientist, y..."
4,Lead Data Scientist,Bangalore/Bengaluru(Dairy Circle),ALTEN CALSOFT LABS (INDIA) PRIVATE LIMITED,Job description ROLES AND RESPONSIBILITIES: Pa...
5,Senior/Lead Data Scientist - Machine Learning/...,Bangalore/Bengaluru,Squareroot Consulting Pvt Ltd.,Job description Roles and Responsibilities Hir...
6,Lead Data Scientist - Machine Learning/ Data M...,Bangalore/Bengaluru,Wrackle Technologies Pvt Ltd,Job description Roles and Responsibilities Req...
7,Sr. Data Scientist,Bangalore/Bengaluru,Multi Recruit,Job description Actively engage with internal ...
8,Data Scientist,Bangalore/Bengaluru,FabHotel Aay Kay Model Town,"Job description As a Data Scientist, you would..."
9,Data Scientist,Bangalore/Bengaluru,Baker Hughes - The Network,Job description Contributing in development a...
10,Data Scientist,Bangalore/Bengaluru,Baker Hughes Incorporated,"Job description As a Data Scientist, you would..."

### Q3: In this question you have to scrape data using the filters available on the webpage:

In [48]:
driver = webdriver.Chrome(r"D:\Project\Web Driver\chromedriver.exe")
url = 'https://www.naukri.com/'
driver.get(url)

In [50]:
Filter_DS = driver.find_element_by_id("qsb-keyword-sugg")
Filter_DS.send_keys("Data Scientist")

In [51]:
Click_search = driver.find_element_by_xpath("//button[@class='btn']")
Click_search.click()

In [55]:
Filter_click_NCR = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[2]/div[2]/div[2]/label/p')
Filter_click_NCR.click()

In [57]:
Filter_click_Salary = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[2]/label/p')
Filter_click_Salary.click()

In [58]:
# Job Title Extract 
Filter_Job_titletags = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

# Extracting job title from Job title TAgs

Filter_Job_Title = []

for fjl in Filter_Job_titletags:
    Filter_Job_Title.append(fjl.text)

Filter_Job_title_List = Filter_Job_Title[:10]
Filter_Job_title_List

['Data Scientist/Data Analyst /Business Analyst',
 'Only Fresher / Data Scientist / Data Analyst / Analytics - MNC Jobs',
 'Data Scientist - Machine Learning/ NLP',
 'Data Scientist || Python || C2H',
 'Data Scientist || Python || C2H',
 'Advanced Analytics -Data Scientist',
 'Data Scientist (Early Joiner)',
 'Data analytics / Data scientist intern (work from Home)',
 'Chaayos is Looking For Data Scientist',
 'Data Scientist']

In [59]:
# Job location tags
Filter_Job_Locationtags = driver.find_elements_by_xpath("//span[@class='ellipsis fleft fs12 lh16']")

# Extracting job location from Job location TAgs

Filter_Job_location = []
Filter_Job_location_List = []
for fjlds in Filter_Job_Locationtags:
    Filter_Job_location.append(fjlds.text)

Filter_Job_location
#Location extract
Filter_Job_location_List = []
for flds in range(2,len(Filter_Job_location),3):
    Filter_Job_location_List.append(Filter_Job_location[flds])

Filter_Final_JBList = Filter_Job_location_List[:10]
Filter_Final_JBList

['Pune, Delhi / NCR, Mumbai (All Areas)',
 'Noida, Greater Noida, Delhi / NCR',
 'Gurgaon/Gurugram',
 'Noida, Kolkata, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Noida, Kolkata, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'New Delhi, Hyderabad/Secunderabad',
 'Noida(Sector-59 Noida)',
 'Kolkata, Bangalore/Bengaluru, Delhi / NCR',
 'New Delhi',
 'Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru']

In [60]:
# Company name Extraction
Filter_Company_name = driver.find_elements_by_xpath('//a[@class = "subTitle ellipsis fleft"]')
Filter_Company_name_list = []
for fdscn in Filter_Company_name:
    Filter_Company_name_list.append(fdscn.text)
    
Filter_Final_Company_name_list= Filter_Company_name_list[:10]
Filter_Final_Company_name_list

['Inflexion Analytix Private Limited',
 'GABA Consultancy services',
 'TalPro',
 'Growel Softech Pvt. Ltd.',
 'Growel Softech Pvt. Ltd.',
 'ERM Placement Services (P) Ltd.',
 'R Systems International Ltd.',
 'TalkValley LLC',
 'Chaayos (Sunshine Teahouse Pvt. Ltd.)',
 'Fractal Analytics']

In [61]:
#Experience Rquired extract
Filter_Experience_List = []
for fl in range(0,len(Filter_Job_location),3):
    Filter_Experience_List.append(Filter_Job_location[fl])

Filter_Final_Experience_List = Filter_Experience_List[:10]
Filter_Final_Experience_List

['0-3 Yrs',
 '0-0 Yrs',
 '2-6 Yrs',
 '4-6 Yrs',
 '4-6 Yrs',
 '3-7 Yrs',
 '4-8 Yrs',
 '0-5 Yrs',
 '0-5 Yrs',
 '3-7 Yrs']

In [62]:
# DataFrame for filtered Datascientist :

FilterDS_Data_Frame = pd.DataFrame({"Job Title ": Filter_Job_title_List ,"Job Location": Filter_Final_JBList ,"Company Name":Filter_Final_Company_name_list,"Experience": Filter_Final_Experience_List},index = range(1,len(DS_Final_JBList)+1))
FilterDS_Data_Frame

,Job Title,Job Location,Company Name,Experience
1,Data Scientist/Data Analyst /Business Analyst,"Pune, Delhi / NCR, Mumbai (All Areas)",Inflexion Analytix Private Limited,0-3 Yrs
2,Only Fresher / Data Scientist / Data Analyst /...,"Noida, Greater Noida, Delhi / NCR",GABA Consultancy services,0-0 Yrs
3,Data Scientist - Machine Learning/ NLP,Gurgaon/Gurugram,TalPro,2-6 Yrs
4,Data Scientist || Python || C2H,"Noida, Kolkata, Gurgaon/Gurugram, Bangalore/Be...",Growel Softech Pvt. Ltd.,4-6 Yrs
5,Data Scientist || Python || C2H,"Noida, Kolkata, Gurgaon/Gurugram, Bangalore/Be...",Growel Softech Pvt. Ltd.,4-6 Yrs
6,Advanced Analytics -Data Scientist,"New Delhi, Hyderabad/Secunderabad",ERM Placement Services (P) Ltd.,3-7 Yrs
7,Data Scientist (Early Joiner),Noida(Sector-59 Noida),R Systems International Ltd.,4-8 Yrs
8,Data analytics / Data scientist intern (work f...,"Kolkata, Bangalore/Bengaluru, Delhi / NCR",TalkValley LLC,0-5 Yrs
9,Chaayos is Looking For Data Scientist,New Delhi,Chaayos (Sunshine Teahouse Pvt. Ltd.),0-5 Yrs
10,Data Scientist,"Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru",Fractal Analytics,3-7 Yrs

### Q5: Write a python program to scrape the salary data for Data Scientist designation in Noida location..

In [7]:
driver = webdriver.Chrome(r"D:\Project\Web Driver\chromedriver.exe")
GDurl = 'https://www.glassdoor.co.in/Salaries/index.htm'
driver.get(GDurl)

In [8]:
Search_GD_DS = driver.find_element_by_id("KeywordSearch")
Search_GD_DS.send_keys("Data Scientist")

In [9]:
Search_GD_Location = driver.find_element_by_id("LocationSearch")
Search_GD_Location.clear()
Search_GD_Location.send_keys("Noida")

In [10]:
Search_Button = driver.find_element_by_xpath('/html/body/div[3]/div/div[1]/div[1]/div/div/form/button')
Search_Button.click()

In [11]:
# Company name Extraction
GD_Company_name = driver.find_elements_by_xpath('//a[@class = "css-f3vw95 e1aj7ssy3"]')
GD_Company_name_list = []
for gc in GD_Company_name:
    GD_Company_name_list.append(gc.text)
    
GD_Final_Company_name_list= GD_Company_name_list[:10]
GD_Final_Company_name_list

['IBM',
 'Tata Consultancy Services',
 'Accenture',
 'Delhivery',
 'Ericsson-Worldwide',
 'UnitedHealth Group',
 'Valiance Solutions',
 'EXL Service',
 'Optum Global Solutions',
 'ZS Associates']

In [12]:
# Number Of Salaries Extraction
GD_NumSalaries = driver.find_elements_by_xpath('//div[@class = "col-12 col-lg-auto"]//span')
GD_NumSalaries_list = []
for ns in GD_NumSalaries:
    GD_NumSalaries_list.append(ns.text)
    
GD_Final_NumSalaries_list= GD_NumSalaries_list[:10]
GD_Final_NumSalaries_list

['18 salaries',
 '17 salaries',
 '15 salaries',
 '15 salaries',
 '14 salaries',
 '12 salaries',
 '10 salaries',
 '9 salaries',
 '9 salaries',
 '8 salaries']

In [13]:
# Average Salary Extraction
GD_Salary = driver.find_elements_by_xpath('//div[@class = "col-12 col-lg-4 px-lg-0 d-flex align-items-baseline"]//h3')
GD_Salary_list = []
for gas in GD_Salary:
    GD_Salary_list.append(gas.text)
    
GD_Final_Salary_list= GD_Salary_list[:10]
GD_Final_Salary_list

['₹9,00,000',
 '₹6,15,289',
 '₹11,63,336',
 '₹12,18,244',
 '₹7,39,238',
 '₹13,19,140',
 '₹8,63,750',
 '₹11,10,000',
 '₹13,28,697',
 '₹11,42,356']

In [16]:
# Minimum Salary Extraction
GD_MinMaxSalary = driver.find_elements_by_xpath('//span[@class = "d-block d-lg-none m-0 css-1b6bxoo"]')
GD_MinMaxSalary_list = []
GD_MinSalary_list = []
for ms in GD_MinMaxSalary:
    GD_MinMaxSalary_list.append(ms.text)
    
GD_Final_MinMaxSalary_list= GD_MinMaxSalary_list[:10]
GD_Final_MinMaxSalary_list

for sl in GD_Final_MinMaxSalary_list:
    GD_MinSalary_list.append(sl[sl.find('₹'):sl.find('-')].replace(" ",""))
GD_MinSalary_list

['₹6L', '₹3L', '₹6L', '₹5L', '₹4L', '₹11L', '₹5L', '₹6L', '₹4L', '₹2L']

In [18]:
# Minimum Salary Extraction
GD_MaxSalary_list = []

for xsl in GD_Final_MinMaxSalary_list:
    GD_MaxSalary_list.append(xsl[xsl.find('₹',xsl.find('₹')+1):len(xsl)].replace(" ",""))
GD_MaxSalary_list

['₹27L',
 '₹13L',
 '₹22L',
 '₹1Cr',
 '₹16L',
 '₹15L',
 '₹15L',
 '₹15L',
 '₹22L',
 '₹18L']

In [22]:
# Ratings Extraction
GD_Rating = driver.find_elements_by_xpath('//span[@class = "m-0 css-kyx745"]')
GD_Rating_list = []
for rt in GD_Rating:
    GD_Rating_list.append(rt.text + '/5 stars')
    
GD_Final_Rating_list= GD_Rating_list[:10]
GD_Final_Rating_list

['3.9/5 stars',
 '3.9/5 stars',
 '4/5 stars',
 '3.9/5 stars',
 '4/5 stars',
 '3.7/5 stars',
 '4.2/5 stars',
 '3.6/5 stars',
 '3.9/5 stars',
 '4/5 stars']

In [141]:
# Data framing Glass door Salary info:

import pandas as pd

GD_Framing = pd.DataFrame({'Company Name':GD_Final_Company_name_list,'Number of Salaries':GD_Final_NumSalaries_list,'Average Salary':GD_Final_Salary_list,'Minimum Salary':GD_MinSalary_list,'Maximum Salary':GD_MaxSalary_list,'Ratings of Company':GD_Final_Rating_list},index = range(1,len(GD_Final_Rating_list)+1))
GD_Framing

,Company Name,Number of Salaries,Average Salary,Minimum Salary,Maximum Salary,Ratings of Company
1,IBM,18 salaries,"₹9,00,000",₹6L,₹27L,3.9/5 stars
2,Tata Consultancy Services,17 salaries,"₹6,15,289",₹3L,₹13L,3.9/5 stars
3,Accenture,15 salaries,"₹11,63,336",₹6L,₹22L,4/5 stars
4,Delhivery,15 salaries,"₹12,18,244",₹5L,₹1Cr,3.9/5 stars
5,Ericsson-Worldwide,14 salaries,"₹7,39,238",₹4L,₹16L,4/5 stars
6,UnitedHealth Group,12 salaries,"₹13,19,140",₹11L,₹15L,3.7/5 stars
7,Valiance Solutions,10 salaries,"₹8,63,750",₹5L,₹15L,4.2/5 stars
8,EXL Service,9 salaries,"₹11,10,000",₹6L,₹15L,3.6/5 stars
9,Optum Global Solutions,9 salaries,"₹13,28,697",₹4L,₹22L,3.9/5 stars
10,ZS Associates,8 salaries,"₹11,42,356",₹2L,₹18L,4/5 stars

### Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:

In [3]:
driver = webdriver.Chrome(r"D:\Project\Web Driver\chromedriver.exe")
GDurl = 'https://www.flipkart.com/'
driver.get(GDurl)

In [4]:
close_Button =  driver.find_element_by_xpath("//button[@class = '_2KpZ6l _2doB4z']")
close_Button.click()

In [5]:
Search_Flip = driver.find_element_by_xpath("//input[@class = '_3704LK']")
Search_Flip.send_keys("Sunglasses")

In [6]:
Search_Button =  driver.find_element_by_xpath("//button[@class = 'L0Z3Pu']")
Search_Button.click()

In [7]:
Next_Button = driver.find_element_by_xpath("//a[@class = '_1LKTO3']//span")
Next_Button

In [8]:
Product_desc =[]
Brand_List = []
Price = []
while len(Brand_List) < 101:
    Brand_tag = driver.find_elements_by_xpath("//div[@class = '_2WkVRV']")
    for bs in Brand_tag:   
        Brand_List.append(bs.text.strip())
    pd_tag = driver.find_elements_by_xpath("//div[@class = '_2B099V']//a")
    for pd in pd_tag:
        Product_desc.append(pd.text)
    time.sleep(2)
    price_tag = driver.find_elements_by_xpath("//a[@class = '_3bPFwb']//div//div")
    for pc in price_tag:
        Price.append(pc.text.strip())
        
    Next_Button.click()
    time.sleep(2)

In [9]:
#Extract PRoduct Desc:

Product_desc_List = []
for pdl in range(0,len(Product_desc),2):
    Product_desc_List.append(Product_desc[pdl])
Product_desc_List
Final_Product_desc_List = Product_desc_List[:100]

In [10]:
Final_Brand_List = Brand_List[:100]

In [11]:
#Price List Extract
Price_list = []
for pp in range(0,len(Price),3):
    Price_list.append(Price[pp])
Price_list
Final_Price_list = Price_list[:100]

In [12]:
Price

['₹299',
 '₹2,599',
 '88% off',
 '₹758',
 '₹899',
 '₹141 off',
 '₹513',
 '₹799',
 '₹286 off',
 '₹237',
 '₹1,599',
 '85% off',
 '₹349',
 '₹1,599',
 '78% off',
 '₹281',
 '₹1,999',
 '85% off',
 '₹399',
 '₹1,999',
 '80% off',
 '₹309',
 '₹2,298',
 '86% off',
 '₹655',
 '₹899',
 '₹244 off',
 '₹509',
 '₹799',
 '₹290 off',
 '₹612',
 '₹899',
 '₹287 off',
 '₹299',
 '₹2,599',
 '88% off',
 '₹225',
 '₹1,099',
 '79% off',
 '₹499',
 '₹2,225',
 '77% off',
 '₹1,085',
 '₹1,299',
 '₹214 off',
 '₹210',
 '₹1,299',
 '83% off',
 '₹1,010',
 '₹1,299',
 '₹289 off',
 '₹331',
 '₹1,599',
 '79% off',
 '₹213',
 '₹1,199',
 '82% off',
 '₹349',
 '₹1,499',
 '76% off',
 '₹592',
 '₹899',
 '₹307 off',
 '₹259',
 '₹1,499',
 '82% off',
 '₹215',
 '₹785',
 '72% off',
 '₹331',
 '₹2,599',
 '87% off',
 '₹197',
 '₹1,466',
 '86% off',
 '₹522',
 '₹899',
 '41% off',
 '₹399',
 '₹1,999',
 '80% off',
 '₹738',
 '₹999',
 '₹261 off',
 '₹647',
 '₹899',
 '₹252 off',
 '₹399',
 '₹2,199',
 '81% off',
 '₹236',
 '₹1,499',
 '84% off',
 '₹449',
 '₹2,225',
 '79% off',
 '₹299',
 '₹1,899',
 '84% off',
 '₹499',
 '₹2,256',
 '77% off',
 '₹404',
 '₹1,999',
 '79% off',
 '₹352',
 '₹1,199',
 '70% off',
 '₹755',
 '₹899',
 '₹144 off',
 '₹449',
 '₹1,999',
 '77% off',
 '₹449',
 '₹1,995',
 '77% off',
 '₹199',
 '₹999',
 '80% off',
 '₹299',
 '₹1,499',
 '80% off',
 '₹162',
 '₹499',
 '67% off',
 '₹251',
 '₹1,199',
 '79% off',
 '₹237',
 '₹1,599',
 '85% off',
 '₹319',
 '₹1,998',
 '84% off',
 '₹349',
 '₹1,599',
 '78% off',
 '₹210',
 '₹1,199',
 '82% off',
 '₹331',
 '₹1,999',
 '83% off',
 '₹379',
 '₹1,499',
 '74% off',
 '₹237',
 '₹1,599',
 '85% off',
 '₹558',
 '₹799',
 '₹241 off',
 '₹217',
 '₹999',
 '78% off',
 '₹249',
 '₹1,199',
 '79% off',
 '₹189',
 '₹1,398',
 '86% off',
 '₹733',
 '₹899',
 '₹166 off',
 '₹499',
 '₹2,252',
 '77% off',
 '₹249',
 '₹599',
 '58% off',
 '₹207',
 '₹1,799',
 '88% off',
 '₹1,115',
 '₹1,299',
 '₹184 off',
 '₹655',
 '₹799',
 '₹144 off',
 '₹606',
 '₹1,285',
 '52% off',
 '₹629',
 '₹899',
 '₹270 off',
 '₹205',
 '₹999',
 '79% off',
 '₹399',
 '₹1,999',
 '80% off',
 '₹252',
 '₹999',
 '74% off',
 '₹474',
 '₹1,499',
 '68% off',
 '₹197',
 '₹999',
 '80% off',
 '₹549',
 '₹799',
 '₹250 off',
 '₹399',
 '₹1,999',
 '80% off',
 '₹214',
 '₹699',
 '69% off',
 '₹233',
 '₹1,299',
 '82% off',
 '₹299',
 '₹1,299',
 '76% off',
 '₹449',
 '₹2,665',
 '83% off',
 '₹212',
 '₹999',
 '78% off',
 '₹292',
 '₹1,999',
 '85% off',
 '₹219',
 '₹799',
 '72% off',
 '₹299',
 '₹1,499',
 '80% off',
 '₹331',
 '₹1,999',
 '83% off',
 '₹210',
 '₹1,299',
 '83% off',
 '₹782',
 '₹799',
 '₹17 off',
 '₹319',
 '₹1,998',
 '84% off',
 '₹398',
 '₹1,499',
 '73% off',
 '₹269',
 '₹999',
 '73% off',
 '₹539',
 '₹799',
 '₹260 off',
 '₹1,021',
 '₹1,299',
 '₹278 off',
 '₹237',
 '₹1,599',
 '85% off',
 '₹1,830',
 '₹1,999',
 '₹169 off',
 '₹185',
 '₹750',
 '75% off',
 '₹1,470',
 '₹1,999',
 '26% off',
 '₹399',
 '₹1,446',
 '72% off',
 '₹227',
 '₹1,499',
 '84% off',
 '₹265',
 '₹1,299',
 '79% off',
 '₹443',
 '₹1,499',
 '70% off',
 '₹539',
 '₹750',
 '₹211 off',
 '₹259',
 '₹1,998',
 '87% off',
 '₹315',
 '₹1,699',
 '81% off',
 '₹299',
 '₹1,199',
 '75% off',
 '₹211',
 '₹999',
 '78% off',
 '₹235',
 '₹975',
 '75% off',
 '₹249',
 '₹1,299',
 '80% off',
 '₹331',
 '₹1,799',
 '81% off',
 '₹738',
 '₹1,099',
 '₹361 off',
 '₹503',
 '₹799',
 '₹296 off',
 '₹499',
 '₹1,499',
 '66% off',
 '₹788',
 '₹899',
 '₹111 off',
 '₹664',
 '₹1,999',
 '66% off',
 '₹499',
 '₹1,499',
 '66% off',
 '₹1,969',
 '₹1,999',
 '₹30 off',
 '₹197',
 '₹1,298',
 '84% off',
 '₹1,222',
 '₹4,100',
 '70% off',
 '₹260',
 '₹1,995',
 '86% off',
 '₹711',
 '₹2,549',
 '72% off',
 '₹323',
 '₹1,999',
 '83% off',
 '₹314',
 '₹1,999',
 '84% off',
 '₹209',
 '₹999',
 '79% off',
 '₹279',
 '₹1,499',
 '81% off',
 '₹249',
 '₹999',
 '75% off',
 '₹454',
 '₹1,285',
 '64% off',
 '₹170',
 '₹999',
 '82% off',
 '₹449',
 '₹1,999',
 '77% off']

In [13]:
#Discount List List Extract
Discount_list = []
for dl in range(2,len(Price),3):
    Discount_list.append(Price[dl])
Discount_list
Final_Discount_list = Discount_list[:100]

In [14]:
#DataFraming all 100 products:
import pandas as pd
Top_Sunglasses = pd.DataFrame({'Brand':Final_Brand_List,'Product Description':Final_Product_desc_List,'Price':Final_Price_list,'Discount':Final_Discount_list},index =range(1,len(Final_Discount_list)+1))
Top_Sunglasses

,Brand,Product Description,Price,Discount
1,kingsunglasses,"Mirrored, UV Protection Wayfarer Sunglasses (F...",₹299,88% off
2,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹758,₹141 off
3,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹513,₹286 off
4,PIRASO,UV Protection Aviator Sunglasses (54),₹237,85% off
5,kingsunglasses,UV Protection Round Sunglasses (Free Size),₹349,78% off
...,...,...,...,...
96,kingsunglasses,UV Protection Round Sunglasses (Free Size),₹315,81% off
97,Silver Kartz,UV Protection Oval Sunglasses (56),₹299,75% off
98,GANSTA,"UV Protection, Mirrored Wayfarer Sunglasses (53)",₹211,78% off
99,NuVew,"UV Protection, Riding Glasses Wayfarer Sunglas...",₹235,75% off
100,kingsunglasses,"Mirrored, UV Protection Aviator Sunglasses (56)",₹249,80% off

### Q7. Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.

In [3]:
driver = webdriver.Chrome(r"D:\Project\Web Driver\chromedriver.exe")
furl = 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes%02earpods-power%02adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC%20TSVZAXUHGREPBFGI&marketplace.'
driver.get(furl)

In [4]:
Open_reviews = driver.find_element_by_xpath('//div[@class = "_3UAT2v _16PBlm"]//span')
Open_reviews

In [5]:
Open_reviews.click()

In [15]:
N_B= driver.find_element_by_xpath('//a[@class = "_1LKTO3"]//span')
N_B

In [16]:
Reviews = []
for r in range(11):
    Reviews_tag = driver.find_elements_by_xpath('//p[@class = "_2-N8zT"]')
    for rw in Reviews_tag:
        Reviews.append(rw.text)
    time.sleep(2)
    N_B.click()
    time.sleep(2)
Reviews

StaleElementReferenceException: Message: stale element reference: element is not attached to the page document
  (Session info: chrome=91.0.4472.124)

In [140]:
len(Reviews)

110